 /* ===== Scrollbar CSS ===== */
 /* Firefox */
 * {
     scrollbar-width: auto;
     scrollbar-color: #512DAB #ffffff;
 }

 /* Chrome, Edge, and Safari */
 *::-webkit-scrollbar {
     width: 16px;
 }

 *::-webkit-scrollbar-track {
     background: #ffffff;
 }

 *::-webkit-scrollbar-thumb {
     background-color: #512DAB;
     border-radius: 10px;
     border: 3px solid #ffffff;
 }

 .select2-container--default .select2-selection--single {
     border: 1px solid #d1d3e2;
     border-radius: 0.35rem;
     display: block;
     width: 100%;
     height: calc(1.5em + 0.75rem + 2px);
     padding: 0.375rem 0.75rem;
     font-size: 1rem;
     font-weight: 400;
     line-height: 1.5;
     color: #6e707e;
     background-color: #fff;
     background-clip: padding-box;
     border: 1px solid #d1d3e2;
     border-radius: 0.35rem;
     transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
 }

 .select2-container .select2-selection--single {
     height: calc(1.5em + 0.75rem + 2px);
     border-radius: 0.35rem;

 }

 .select2-container--default .select2-selection--single .select2-selection__rendered {
     /* line-height: 38px; */
     font-size: 1rem;
     color: #6e707e;
     padding-left: 0;

 }

 body {

     min-height: 100vh;
 }

 .brand-wrapper {
     margin-bottom: 19px;
 }

 .brand-wrapper .logo {
     height: 37px;
 }

 .login-card {
     border: 0;
     border-radius: 27.5px;
     box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
     overflow: hidden;
 }

 .login-card-img {
     border-radius: 0;
     position: absolute;
     width: 100%;
     height: 100%;
     -o-object-fit: cover;
     object-fit: cover;
 }

 .login-card .card-body {
     padding: 85px 60px 60px;
 }

 @media (max-width: 422px) {
     .login-card .card-body {
         padding: 35px 24px;
     }
 }

 .login-card-description {
     font-size: 25px;
     color: #000;
     font-weight: normal;
     margin-bottom: 23px;
 }

 .login-card form {
     max-width: 326px;
 }

 .login-card .form-control {
     border: 1px solid #d5dae2;
     padding: 15px 25px;
     margin-bottom: 20px;
     min-height: 45px;
     font-size: 13px;
     line-height: 15;
     font-weight: normal;
 }

 .login-card .form-control::-webkit-input-placeholder {
     color: #919aa3;
 }

 .login-card .form-control::-moz-placeholder {
     color: #919aa3;
 }

 .login-card .form-control:-ms-input-placeholder {
     color: #919aa3;
 }

 .login-card .form-control::-ms-input-placeholder {
     color: #919aa3;
 }

 .login-card .form-control::placeholder {
     color: #919aa3;
 }

 .login-card .login-btn {
     padding: 13px 20px 12px;
     background-color: #000;
     border-radius: 4px;
     font-size: 17px;
     font-weight: bold;
     line-height: 20px;
     color: #fff;
     margin-bottom: 24px;
 }

 .login-card .login-btn:hover {
     border: 1px solid #000;
     background-color: transparent;
     color: #000;
 }

 .login-card .forgot-password-link {
     font-size: 14px;
     color: #919aa3;
     margin-bottom: 12px;
 }

 .login-card-footer-text {
     font-size: 16px;
     color: #0d2366;
     margin-bottom: 60px;
 }

 @media (max-width: 767px) {
     .login-card-footer-text {
         margin-bottom: 24px;
     }
 }

 .login-card-footer-nav a {
     font-size: 14px;
     color: #919aa3;
 }

 .footer-link {
     position: absolute;
     bottom: 1rem;
     text-align: center;
     width: 100%;
 }